
.main-div{
  justify-content:center;
  display: flex;
  height:100vh;
  align-items: center;
  width:100%;
  background-color: bisque;
  vertical-align: text-top;
}
.div{
  height:100vh;
  width:100vh;
  background-color: aqua;
  
}
